*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.clock
{
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: lightgoldenrodyellow;
    padding: 1.5rem;
    border-radius: 20px;
    margin: 1rem;
    color: rgb(123, 211, 214);

}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 7rem;
    
}
.semicolon{
    padding-bottom: 16px;
}
.right{
    align-self: start;
    padding-top: 50px;
    gap: .1rem;
    font-size: 2rem;
}
@media screen and (max-width:685px) {
    .left{
        font-size: 2rem;
    }
    .right{
        font-size: 2rem;
        padding-top: 12px
    }
    .semicolon {
        padding-bottom: 8px;
    }
}